In [150]:
import yfinance as yf
import pandas as pd
from pathlib import Path
import math

In [151]:
result_folder = Path.cwd().parent / 'Results'

symbols = pd.read_csv(result_folder / 'simple_screener_results.csv')['Ticker'].tolist()
symbols = pd.Series(symbols).unique()
backup = pd.read_csv(result_folder / 'simple_screener_results.csv')['Ticker']
if len(backup) > 0:
    backup.to_csv(result_folder / 'known_tickers.csv', index=False)
owned_tickers = pd.read_csv(result_folder / 'owned_tickers.csv')['Ticker'].tolist()

In [152]:
df = pd.DataFrame(columns=[
    'Ticker', 
    'short_name', 
    'in_portfolio',
    'value_score',  
    'recommendation_score',
    'analyst_mean%', 
    'insider_buy%', 
    'sector', 
    'industry', 
    'country',
    'P/E (TTM)', 
    'ROA%',
])

for symbol in symbols: 
    ticker = yf.Ticker(symbol)
    try:
        in_portfolio = 'No'
        if symbol in owned_tickers:
            in_portfolio = 'Yes'

        analyst_mean = 0
        if 'mean' in ticker.analyst_price_targets and ticker.info['currentPrice']:
            analyst_mean = ticker.analyst_price_targets['mean'] / ticker.info['currentPrice'] - 1
        
        roa = ticker.info['returnOnAssets']*100
        pe = ticker.info['trailingPE']
        
        value_score = format(2.5 + math.log(roa+5) - math.log(pe+25), '.2f')
        
        insider_buy = 0
        if 'Shares' in ticker.insider_purchases.columns:
            insider_buy = format(ticker.insider_purchases.loc[ticker.insider_purchases.index[4], 'Shares'], '.2f')
            if insider_buy == '<NA>':
                insider_buy = 0

        recommendation_score = format(float(value_score) + analyst_mean * 1.25 + float(insider_buy) * 2.0, '.2f')

        df.loc[symbol] = [
            symbol, 
            ticker.info['shortName'], 
            in_portfolio,
            value_score,
            recommendation_score,
            format(analyst_mean * 100, '.2f'), 
            insider_buy,
            ticker.info['sector'], 
            ticker.info['industry'], 
            ticker.info['country'],
            format(pe, '.2f') if isinstance(pe, (int, float)) else 'N/A', 
            format(roa, '.2f') if isinstance(roa, (int, float)) else 'N/A',
        ]
    except Exception as e:
        print(f"Error with {symbol}: {e}. Removed Ticker from list.")

df.to_csv(result_folder / 'simple_screener_results.csv', index=False)
display(df)

print(f'Got data for {len(df)} stocks')

,Ticker,short_name,in_portfolio,value_score,recommendation_score,analyst_mean%,insider_buy%,sector,industry,country,P/E (TTM),ROA%
MATAS.CO,MATAS.CO,Matas A/S,No,0.85,1.29,35.34,0,Consumer Cyclical,Specialty Retail,Denmark,21.08,3.84
TRIFOR.CO,TRIFOR.CO,Trifork Group AG,No,0.76,1.28,41.84,0,Technology,Information Technology Services,Switzerland,12.60,1.59
QQ.L,QQ.L,QINETIQ GROUP PLC ORD 1P,Yes,1.14,1.11,-2.58,0,Industrials,Aerospace & Defense,United Kingdom,21.47,6.89
RNMBY,RNMBY,Rheinmetall AG,Yes,0.07,0.07,0.00,0,Industrials,Aerospace & Defense,Germany,100.16,5.97
DRS,DRS,"Leonardo DRS, Inc.",No,0.61,0.86,19.96,0.00,Industrials,Aerospace & Defense,United States,39.08,4.64
SAABF,SAABF,Saab AB,Yes,0.38,0.38,0.00,0,Industrials,Aerospace & Defense,Sweden,47.37,3.70
BCKIY,BCKIY,Babcock International Group Plc,No,1.02,1.02,0.00,0,Industrials,Engineering & Construction,United Kingdom,19.05,5.08
BAESY,BAESY,BAE Systems PLC,No,0.83,0.72,-8.57,0,Industrials,Aerospace & Defense,United Kingdom,25.11,4.40
IVSO.ST,IVSO.ST,INVISIO AB,No,1.27,1.10,-13.86,0,Technology,Communication Equipment,Sweden,61.94,20.30
NSKFF,NSKFF,Kongsberg Gruppen ASA,Yes,0.56,0.56,0.00,0,Industrials,Aerospace & Defense,Norway,55.98,6.66
GMAB,GMAB,Genmab A/S,Yes,1.61,2.06,35.67,0,Healthcare,Biotechnology,Denmark,13.79,10.91
GN.CO,GN.CO,GN Store Nord A/S,Yes,0.91,1.57,52.50,0,Healthcare,Medical Devices,Denmark,18.60,3.86
NVDA,NVDA,NVIDIA Corporation,No,2.49,3.15,52.83,0.00,Technology,Semiconductors,United States,38.33,57.42
LLY,LLY,Eli Lilly and Company,No,0.92,0.76,15.76,-0.18,Healthcare,Drug Manufacturers - General,United States,74.07,15.33
DANSKE.CO,DANSKE.CO,Danske Bank A/S,No,0.72,0.77,4.30,0,Financial Services,Banks - Regional,Denmark,8.51,0.64
CARL-B.CO,CARL-B.CO,Carlsberg B A/S,No,1.14,1.18,2.97,0,Consumer Defensive,Beverages - Brewers,Denmark,17.61,5.92
MAERSK-B.CO,MAERSK-B.CO,A.P. Møller - Mærsk B A/S,No,1.34,1.10,-19.17,0,Industrials,Marine Shipping,Denmark,4.92,4.41
RBREW.CO,RBREW.CO,Royal UNIBREW A/S,No,1.19,1.29,8.32,0,Consumer Defensive,Beverages - Brewers,Denmark,19.06,6.90
ISS.CO,ISS.CO,ISS A/S,No,1.21,1.25,2.81,0,Industrials,Specialty Business Services,Denmark,11.26,5.01
DSV.CO,DSV.CO,DSV A/S,No,0.81,1.11,23.96,0,Industrials,Integrated Freight & Logistics,Denmark,30.56,5.23
SCHO.CO,SCHO.CO,Schouw & Co. A/S,No,1.02,1.23,16.45,0,Industrials,Conglomerates,Denmark,15.03,4.08
NETC.CO,NETC.CO,Netcompany Group A/S,No,0.89,1.01,9.31,0,Technology,Information Technology Services,Denmark,30.57,6.07
JYSK.CO,JYSK.CO,Jyske Bank A/S,No,0.77,0.80,2.20,0,Financial Services,Banks - Regional,Denmark,7.23,0.69
ABBN.SW,ABBN.SW,ABB LTD N,No,1.17,1.18,0.84,0,Industrials,Electrical Equipment & Parts,Switzerland,25.44,8.29
TER,TER,"Teradyne, Inc.",No,1.12,1.49,26.07,0.02,Technology,Semiconductor Equipment & Materials,United States,32.69,9.52
PARKEN.CO,PARKEN.CO,PARKEN Sport & Entertainment A/,No,1.94,1.94,0.00,0,Communication Services,Entertainment,Denmark,2.85,10.98
NFLX,NFLX,"Netflix, Inc.",No,1.13,1.38,20.27,0.00,Communication Services,Entertainment,United States,44.85,12.72
TRMD-A.CO,TRMD-A.CO,TORM plc A,Yes,2.00,2.22,17.88,0,Energy,Oil & Gas Midstream,United Kingdom,2.88,11.98
STG.CO,STG.CO,Scandinavian Tobacco Group A/S,No,1.38,1.43,3.93,0,Consumer Defensive,Tobacco,Denmark,9.16,6.11
NOVO-B.CO,NOVO-B.CO,Novo Nordisk B A/S,Yes,1.87,2.31,35.33,0,Healthcare,Drug Manufacturers - General,Denmark,26.38,22.41
EQNR,EQNR,Equinor ASA,No,1.94,2.23,23.39,0,Energy,Oil & Gas Integrated,Norway,7.45,13.56
NKT.CO,NKT.CO,NKT A/S,No,1.36,1.53,13.78,0,Industrials,Electrical Equipment & Parts,Denmark,15.92,8.12
NSIS-B.CO,NSIS-B.CO,Novonesis (Novozymes A/S) B,No,0.18,0.42,19.55,0,Basic Materials,Specialty Chemicals,Denmark,82.46,5.54

Got data for 33 stocks

In [153]:
print(yf.Ticker('RNMBY').info.keys())

dict_keys(['address1', 'city', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'compensationAsOfEpochDate', 'executiveTeam', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'tradeable', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'heldPercentInsiders', 'heldPercentInstitutions', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'quoteType', 'currentPrice', 'recommendationKey', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'grossProfits', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'symbol', 'language', 'region', 'typeDisp', 'quoteSourceName', 'triggerable', 'customPriceAlertConfidence', 'shortName', 'longName', 'marketState', 'corporateActions', 'regularMarketTime', 'exchange', 'messageBoardId', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'gmtOffSetMilliseconds', 'market', 'esgPopulated', 'regularMarketChangePercent', 'regularMarketPrice', 'hasPrePostMarketData', 'firstTradeDateMilliseconds', 'regularMarketChange', 'regularMarketDayRange', 'fullExchangeName', 'averageDailyVolume3Month', 'fiftyTwoWeekLowChange', 'fiftyTwoWeekLowChangePercent', 'fiftyTwoWeekRange', 'fiftyTwoWeekHighChange', 'fiftyTwoWeekHighChangePercent', 'fiftyTwoWeekChangePercent', 'dividendDate', 'earningsTimestamp', 'earningsTimestampStart', 'earningsTimestampEnd', 'earningsCallTimestampStart', 'earningsCallTimestampEnd', 'isEarningsDateEstimate', 'epsTrailingTwelveMonths', 'fiftyDayAverageChange', 'fiftyDayAverageChangePercent', 'twoHundredDayAverageChange', 'twoHundredDayAverageChangePercent', 'sourceInterval', 'exchangeDataDelayedBy', 'cryptoTradeable', 'trailingPegRatio'])

In [154]:
yf.Ticker('AAPL').balancesheet

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Treasury Shares Number,NaN,0.0,NaN,NaN,NaN
Ordinary Shares Number,15116786000.0,15550061000.0,15943425000.0,16426786000.0,NaN
Share Issued,15116786000.0,15550061000.0,15943425000.0,16426786000.0,NaN
Net Debt,76686000000.0,81123000000.0,96423000000.0,89779000000.0,NaN
Total Debt,106629000000.0,111088000000.0,132480000000.0,136522000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,65171000000.0,61555000000.0,48304000000.0,62639000000.0,NaN
Other Short Term Investments,35228000000.0,31590000000.0,24658000000.0,27699000000.0,NaN
Cash And Cash Equivalents,29943000000.0,29965000000.0,23646000000.0,34940000000.0,NaN
Cash Equivalents,2744000000.0,1606000000.0,5100000000.0,17635000000.0,NaN
Cash Financial,27199000000.0,28359000000.0,18546000000.0,17305000000.0,NaN

In [155]:
yf.Ticker('AAPL').cashflow

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Free Cash Flow,108807000000.0,99584000000.0,111443000000.0,92953000000.0,NaN
Repurchase Of Capital Stock,-94949000000.0,-77550000000.0,-89402000000.0,-85971000000.0,NaN
Repayment Of Debt,-9958000000.0,-11151000000.0,-9543000000.0,-8750000000.0,NaN
Issuance Of Debt,0.0,5228000000.0,5465000000.0,20393000000.0,NaN
Issuance Of Capital Stock,NaN,NaN,NaN,1105000000.0,880000000.0
Capital Expenditure,-9447000000.0,-10959000000.0,-10708000000.0,-11085000000.0,NaN
Interest Paid Supplemental Data,NaN,3803000000.0,2865000000.0,2687000000.0,3002000000.0
Income Tax Paid Supplemental Data,26102000000.0,18679000000.0,19573000000.0,25385000000.0,NaN
End Cash Position,29943000000.0,30737000000.0,24977000000.0,35929000000.0,NaN
Beginning Cash Position,30737000000.0,24977000000.0,35929000000.0,39789000000.0,NaN
Changes In Cash,-794000000.0,5760000000.0,-10952000000.0,-3860000000.0,NaN
Financing Cash Flow,-121983000000.0,-108488000000.0,-110749000000.0,-93353000000.0,NaN
Cash Flow From Continuing Financing Activities,-121983000000.0,-108488000000.0,-110749000000.0,-93353000000.0,NaN
Net Other Financing Charges,-5802000000.0,-6012000000.0,-6383000000.0,-5580000000.0,NaN
Cash Dividends Paid,-15234000000.0,-15025000000.0,-14841000000.0,-14467000000.0,NaN
Common Stock Dividend Paid,-15234000000.0,-15025000000.0,-14841000000.0,-14467000000.0,NaN
Net Common Stock Issuance,-94949000000.0,-77550000000.0,-89402000000.0,-85971000000.0,NaN
Common Stock Payments,-94949000000.0,-77550000000.0,-89402000000.0,-85971000000.0,NaN
Common Stock Issuance,NaN,NaN,NaN,1105000000.0,880000000.0
Net Issuance Payments Of Debt,-5998000000.0,-9901000000.0,-123000000.0,12665000000.0,NaN
Net Short Term Debt Issuance,3960000000.0,-3978000000.0,3955000000.0,1022000000.0,NaN
Net Long Term Debt Issuance,-9958000000.0,-5923000000.0,-4078000000.0,11643000000.0,NaN
Long Term Debt Payments,-9958000000.0,-11151000000.0,-9543000000.0,-8750000000.0,NaN
Long Term Debt Issuance,0.0,5228000000.0,5465000000.0,20393000000.0,NaN
Investing Cash Flow,2935000000.0,3705000000.0,-22354000000.0,-14545000000.0,NaN
Cash Flow From Continuing Investing Activities,2935000000.0,3705000000.0,-22354000000.0,-14545000000.0,NaN
Net Other Investing Changes,-1308000000.0,-1337000000.0,-2086000000.0,-385000000.0,NaN
Net Investment Purchase And Sale,13690000000.0,16001000000.0,-9560000000.0,-3075000000.0,NaN
Sale Of Investment,62346000000.0,45514000000.0,67363000000.0,106483000000.0,NaN
Purchase Of Investment,-48656000000.0,-29513000000.0,-76923000000.0,-109558000000.0,NaN
Net Business Purchase And Sale,NaN,NaN,-306000000.0,-33000000.0,-1524000000.0
Purchase Of Business,NaN,NaN,-306000000.0,-33000000.0,-1524000000.0
Net PPE Purchase And Sale,-9447000000.0,-10959000000.0,-10708000000.0,-11085000000.0,NaN
Purchase Of PPE,-9447000000.0,-10959000000.0,-10708000000.0,-11085000000.0,NaN
Operating Cash Flow,118254000000.0,110543000000.0,122151000000.0,104038000000.0,NaN
Cash Flow From Continuing Operating Activities,118254000000.0,110543000000.0,122151000000.0,104038000000.0,NaN
Change In Working Capital,3651000000.0,-6577000000.0,1200000000.0,-4911000000.0,NaN
Change In Other Working Capital,NaN,NaN,478000000.0,1676000000.0,2081000000.0
Change In Other Current Liabilities,15552000000.0,3031000000.0,6110000000.0,7475000000.0,NaN
Change In Other Current Assets,-11731000000.0,-5684000000.0,-6499000000.0,-8042000000.0,NaN
Change In Payables And Accrued Expense,6020000000.0,-1889000000.0,9448000000.0,12326000000.0,NaN
Change In Payable,6020000000.0,-1889000000.0,9448000000.0,12326000000.0,NaN
Change In Account Payable,6020000000.0,-1889000000.0,9448000000.0,12326000000.0,NaN
Change In Inventory,-1046000000.0,-1618000000.0,1484000000.0,-2642000000.0,NaN
Change In Receivables,-5144000000.0,-417000000.0,-9343000000.0,-14028000000.0,NaN
Changes In Account Receivables,-3788000000.0,-1688000000.0,-1823000000.0,-10125000000.0,NaN
Other Non Cash Items,-2266000000.0,-2227000000.0,1006000000.0,-4921000000.0,NaN
Stock Based Compensation,11688000000.0,10833000000.0,9038000000.0,7906000000.0,NaN
Deferred Tax,NaN,NaN,895000000.0,-4774000000.0,-215000000.0
Deferred Income Tax,NaN,NaN,895000000.0,-4774000000.0,-215000000.0
Depreciation Amortization Depletion,11445000000.0,11519000000.0,11104000000.0,11284000000.0,NaN
Depreciation And Amortization,11445000000.0,11519000000.0,11104000000.0,11284000000.0,NaN
Net Income From Continuing Operations,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN

In [156]:
yf.Ticker('AAPL').history(period='10y')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-03-09 00:00:00-04:00,28.577011,28.936571,27.929361,28.393883,354114000,0.0,0.0
2015-03-10 00:00:00-04:00,28.230855,28.411750,27.647969,27.806532,275426400,0.0,0.0
2015-03-11 00:00:00-04:00,27.860131,27.864597,27.270546,27.299578,275756000,0.0,0.0
2015-03-12 00:00:00-04:00,27.315212,27.893631,27.163349,27.793133,193450800,0.0,0.0
2015-03-13 00:00:00-04:00,27.781963,28.005291,27.375507,27.601067,207309200,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-03 00:00:00-05:00,241.789993,244.029999,236.110001,238.029999,47184000,0.0,0.0
2025-03-04 00:00:00-05:00,237.710007,240.070007,234.679993,235.929993,53798100,0.0,0.0
2025-03-05 00:00:00-05:00,235.419998,236.550003,229.229996,235.740005,47227600,0.0,0.0
2025-03-06 00:00:00-05:00,234.440002,237.860001,233.160004,235.330002,45170400,0.0,0.0
2025-03-07 00:00:00-05:00,235.110001,241.369995,234.759995,239.070007,46245700,0.0,0.0

In [157]:
cashflow = yf.Ticker('AAPL').cashflow
earning_dates = cashflow.columns.tolist()
print(earning_dates)

yf.Ticker('AAPL').history(period='10y')

[Timestamp('2024-09-30 00:00:00'), Timestamp('2023-09-30 00:00:00'), Timestamp('2022-09-30 00:00:00'), Timestamp('2021-09-30 00:00:00'), Timestamp('2020-09-30 00:00:00')]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-03-09 00:00:00-04:00,28.577011,28.936571,27.929361,28.393883,354114000,0.0,0.0
2015-03-10 00:00:00-04:00,28.230855,28.411750,27.647969,27.806532,275426400,0.0,0.0
2015-03-11 00:00:00-04:00,27.860131,27.864597,27.270546,27.299578,275756000,0.0,0.0
2015-03-12 00:00:00-04:00,27.315212,27.893631,27.163349,27.793133,193450800,0.0,0.0
2015-03-13 00:00:00-04:00,27.781963,28.005291,27.375507,27.601067,207309200,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-03 00:00:00-05:00,241.789993,244.029999,236.110001,238.029999,47184000,0.0,0.0
2025-03-04 00:00:00-05:00,237.710007,240.070007,234.679993,235.929993,53798100,0.0,0.0
2025-03-05 00:00:00-05:00,235.419998,236.550003,229.229996,235.740005,47227600,0.0,0.0
2025-03-06 00:00:00-05:00,234.440002,237.860001,233.160004,235.330002,45170400,0.0,0.0
2025-03-07 00:00:00-05:00,235.110001,241.369995,234.759995,239.070007,46245700,0.0,0.0