In [103]:
import yfinance as yf
import pandas as pd
from pathlib import Path
import math

In [104]:
result_folder = Path.cwd().parent / 'Results'

symbols = pd.read_csv(result_folder / 'simple_screener_results.csv')['Ticker'].tolist()
symbols = pd.Series(symbols).unique()
backup = pd.read_csv(result_folder / 'simple_screener_results.csv')['Ticker']
if len(backup) > 0:
    backup.to_csv(result_folder / 'known_tickers.csv', index=False)
owned_tickers = pd.read_csv(result_folder / 'owned_tickers.csv')['Ticker'].tolist()

In [105]:
df = pd.DataFrame(columns=[
    'Ticker', 
    'short_name', 
    'in_portfolio',
    'value_score',  
    'recommendation_score',
    'analyst_mean%', 
    'insider_buy%', 
    'sector', 
    'industry', 
    'country',
    'P/E (TTM)', 
    'ROA%',
])

for symbol in symbols: 
    ticker = yf.Ticker(symbol)
    try:
        in_portfolio = 'No'
        if symbol in owned_tickers:
            in_portfolio = 'Yes'

        analyst_mean = 0
        if 'mean' in ticker.analyst_price_targets and ticker.info['currentPrice']:
            analyst_mean = ticker.analyst_price_targets['mean'] / ticker.info['currentPrice'] - 1
        
        roa = ticker.info['returnOnAssets']*100
        pe = ticker.info['trailingPE']
        
        value_score = format(2.5 + math.log(roa+5) - math.log(pe+25), '.2f')
        
        insider_buy = 0
        if 'Shares' in ticker.insider_purchases.columns:
            insider_buy = format(ticker.insider_purchases.loc[ticker.insider_purchases.index[4], 'Shares'], '.2f')
            if insider_buy == '<NA>':
                insider_buy = 0

        recommendation_score = format(float(value_score) + analyst_mean * 1.25 + float(insider_buy) * 2.0, '.2f')

        df.loc[symbol] = [
            symbol, 
            ticker.info['shortName'], 
            in_portfolio,
            value_score,
            recommendation_score,
            format(analyst_mean * 100, '.2f'), 
            insider_buy,
            ticker.info['sector'], 
            ticker.info['industry'], 
            ticker.info['country'],
            format(pe, '.2f') if isinstance(pe, (int, float)) else 'N/A', 
            format(roa, '.2f') if isinstance(roa, (int, float)) else 'N/A',
        ]
    except Exception as e:
        print(f"Error with {symbol}: {e}. Removed Ticker from list.")

df.to_csv(result_folder / 'simple_screener_results.csv', index=False)
display(df)

print(f'Got data for {len(df)} stocks')

,Ticker,short_name,in_portfolio,value_score,recommendation_score,analyst_mean%,insider_buy%,sector,industry,country,P/E (TTM),ROA%
MATAS.CO,MATAS.CO,Matas A/S,No,0.86,1.34,38.25,0,Consumer Cyclical,Specialty Retail,Denmark,20.63,3.84
TRIFOR.CO,TRIFOR.CO,Trifork Group AG,No,0.76,1.30,43.28,0,Technology,Information Technology Services,Switzerland,12.48,1.59
QQ.L,QQ.L,QINETIQ GROUP PLC ORD 1P,Yes,1.13,1.12,-0.94,0,Industrials,Aerospace & Defense,United Kingdom,21.62,6.89
RNMBY,RNMBY,Rheinmetall AG,Yes,0.06,0.06,0.00,0,Industrials,Aerospace & Defense,Germany,100.20,5.97
SAABF,SAABF,Saab AB,Yes,0.38,0.38,0.00,0,Industrials,Aerospace & Defense,Sweden,47.84,3.70
BCKIY,BCKIY,Babcock International Group Plc,No,1.02,1.02,0.00,0,Industrials,Engineering & Construction,United Kingdom,19.15,5.08
BAESY,BAESY,BAE Systems PLC,No,0.83,0.77,-5.18,0,Industrials,Aerospace & Defense,United Kingdom,25.00,4.40
IVSO.ST,IVSO.ST,INVISIO AB,No,1.25,1.06,-15.38,0,Technology,Communication Equipment,Sweden,63.34,20.30
NSKFF,NSKFF,Kongsberg Gruppen ASA,Yes,0.56,0.56,0.00,0,Industrials,Aerospace & Defense,Norway,55.87,6.66
GMAB,GMAB,Genmab A/S,Yes,1.64,2.22,46.19,0,Healthcare,Biotechnology,Denmark,12.49,10.91
GN.CO,GN.CO,GN Store Nord A/S,Yes,0.92,1.63,56.86,0,Healthcare,Medical Devices,Denmark,18.05,3.86
NVDA,NVDA,NVIDIA Corporation,No,2.52,3.27,60.20,0.00,Technology,Semiconductors,United States,36.39,57.42
LLY,LLY,Eli Lilly and Company,No,0.95,0.86,21.32,-0.18,Healthcare,Drug Manufacturers - General,United States,70.92,15.33
DANSKE.CO,DANSKE.CO,Danske Bank A/S,No,0.72,0.79,5.59,0,Financial Services,Banks - Regional,Denmark,8.42,0.64
CARL-B.CO,CARL-B.CO,Carlsberg B A/S,No,1.14,1.20,4.53,0,Consumer Defensive,Beverages - Brewers,Denmark,17.35,5.92
MAERSK-B.CO,MAERSK-B.CO,A.P. Møller - Mærsk B A/S,No,1.34,1.11,-18.66,0,Industrials,Marine Shipping,Denmark,4.91,4.41
RBREW.CO,RBREW.CO,Royal UNIBREW A/S,No,1.19,1.30,8.71,0,Consumer Defensive,Beverages - Brewers,Denmark,18.99,6.90
ISS.CO,ISS.CO,ISS A/S,No,1.21,1.25,3.13,0,Industrials,Specialty Business Services,Denmark,11.22,5.01
DSV.CO,DSV.CO,DSV A/S,No,0.82,1.15,26.79,0,Industrials,Integrated Freight & Logistics,Denmark,29.89,5.23
SCHO.CO,SCHO.CO,Schouw & Co. A/S,No,1.02,1.23,16.45,0,Industrials,Conglomerates,Denmark,15.05,4.08
NETC.CO,NETC.CO,Netcompany Group A/S,No,0.90,1.04,11.59,0,Technology,Information Technology Services,Denmark,30.01,6.07
JYSK.CO,JYSK.CO,Jyske Bank A/S,No,0.77,0.80,2.20,0,Financial Services,Banks - Regional,Denmark,7.23,0.69
ABBN.SW,ABBN.SW,ABB LTD N,No,1.15,1.15,-0.27,0,Industrials,Electrical Equipment & Parts,Switzerland,26.28,8.29
TER,TER,"Teradyne, Inc.",Yes,1.14,1.56,30.36,0.02,Technology,Semiconductor Equipment & Materials,United States,31.62,9.52
PARKEN.CO,PARKEN.CO,PARKEN Sport & Entertainment A/,No,1.94,1.94,0.00,0,Communication Services,Entertainment,Denmark,2.84,10.98
NFLX,NFLX,"Netflix, Inc.",No,1.15,1.45,23.66,0.00,Communication Services,Entertainment,United States,43.66,12.72
TRMD-A.CO,TRMD-A.CO,TORM plc A,Yes,2.01,2.30,23.06,0,Energy,Oil & Gas Midstream,United Kingdom,2.78,11.98
STG.CO,STG.CO,Scandinavian Tobacco Group A/S,No,1.39,1.49,7.64,0,Consumer Defensive,Tobacco,Denmark,8.84,6.11
NOVO-B.CO,NOVO-B.CO,Novo Nordisk B A/S,Yes,1.93,2.56,50.52,0,Healthcare,Drug Manufacturers - General,Denmark,23.63,22.41
EQNR,EQNR,Equinor ASA,No,1.93,2.16,18.39,0,Energy,Oil & Gas Integrated,Norway,7.77,13.56
NKT.CO,NKT.CO,NKT A/S,No,1.37,1.56,15.07,0,Industrials,Electrical Equipment & Parts,Denmark,15.76,8.12
NSIS-B.CO,NSIS-B.CO,Novonesis (Novozymes A/S) B,No,0.20,0.48,22.62,0,Basic Materials,Specialty Chemicals,Denmark,80.40,5.54

Got data for 32 stocks

In [106]:
print(yf.Ticker('RNMBY').info.keys())

dict_keys(['address1', 'city', 'zip', 'country', 'phone', 'fax', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'compensationAsOfEpochDate', 'executiveTeam', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'tradeable', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'heldPercentInsiders', 'heldPercentInstitutions', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'quoteType', 'currentPrice', 'recommendationKey', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'grossProfits', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'symbol', 'language', 'region', 'typeDisp', 'quoteSourceName', 'triggerable', 'customPriceAlertConfidence', 'shortName', 'longName', 'regularMarketTime', 'exchange', 'messageBoardId', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'gmtOffSetMilliseconds', 'market', 'esgPopulated', 'regularMarketChangePercent', 'regularMarketPrice', 'firstTradeDateMilliseconds', 'marketState', 'corporateActions', 'hasPrePostMarketData', 'regularMarketChange', 'regularMarketDayRange', 'fullExchangeName', 'averageDailyVolume3Month', 'fiftyTwoWeekLowChange', 'fiftyTwoWeekLowChangePercent', 'fiftyTwoWeekRange', 'fiftyTwoWeekHighChange', 'fiftyTwoWeekHighChangePercent', 'fiftyTwoWeekChangePercent', 'dividendDate', 'earningsTimestamp', 'earningsTimestampStart', 'earningsTimestampEnd', 'earningsCallTimestampStart', 'earningsCallTimestampEnd', 'isEarningsDateEstimate', 'epsTrailingTwelveMonths', 'fiftyDayAverageChange', 'fiftyDayAverageChangePercent', 'twoHundredDayAverageChange', 'twoHundredDayAverageChangePercent', 'sourceInterval', 'exchangeDataDelayedBy', 'cryptoTradeable', 'trailingPegRatio'])

In [107]:
yf.Ticker('MATAS.CO').history(period='10y')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-03-11 00:00:00+01:00,103.466243,104.477314,101.781125,102.118149,104504,0.0,0.0
2015-03-12 00:00:00+01:00,102.118159,102.792206,101.781135,102.792206,223198,0.0,0.0
2015-03-13 00:00:00+01:00,102.455177,103.466248,101.781130,102.455177,100930,0.0,0.0
2015-03-16 00:00:00+01:00,102.455167,102.455167,101.107073,101.781120,380850,0.0,0.0
2015-03-17 00:00:00+01:00,101.444106,102.792201,101.444106,102.455177,66273,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-05 00:00:00+01:00,137.600006,139.399994,136.399994,136.600006,70726,0.0,0.0
2025-03-06 00:00:00+01:00,136.600006,137.000000,132.800003,133.600006,59365,0.0,0.0
2025-03-07 00:00:00+01:00,133.600006,134.199997,131.399994,133.199997,62538,0.0,0.0
2025-03-10 00:00:00+01:00,133.199997,133.800003,130.800003,131.199997,53151,0.0,0.0
2025-03-11 00:00:00+01:00,130.600006,131.399994,129.800003,130.199997,15725,0.0,0.0

In [108]:
cashflow = yf.Ticker('MATAS.CO').cashflow
earning_dates = cashflow.columns.tolist()
print(earning_dates)

yf.Ticker('MATAS.CO').history(period='10y')

[Timestamp('2024-03-31 00:00:00'), Timestamp('2023-03-31 00:00:00'), Timestamp('2022-03-31 00:00:00'), Timestamp('2021-03-31 00:00:00'), Timestamp('2020-03-31 00:00:00')]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-03-11 00:00:00+01:00,103.466243,104.477314,101.781125,102.118149,104504,0.0,0.0
2015-03-12 00:00:00+01:00,102.118159,102.792206,101.781135,102.792206,223198,0.0,0.0
2015-03-13 00:00:00+01:00,102.455177,103.466248,101.781130,102.455177,100930,0.0,0.0
2015-03-16 00:00:00+01:00,102.455167,102.455167,101.107073,101.781120,380850,0.0,0.0
2015-03-17 00:00:00+01:00,101.444106,102.792201,101.444106,102.455177,66273,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-05 00:00:00+01:00,137.600006,139.399994,136.399994,136.600006,70726,0.0,0.0
2025-03-06 00:00:00+01:00,136.600006,137.000000,132.800003,133.600006,59365,0.0,0.0
2025-03-07 00:00:00+01:00,133.600006,134.199997,131.399994,133.199997,62538,0.0,0.0
2025-03-10 00:00:00+01:00,133.199997,133.800003,130.800003,131.199997,53151,0.0,0.0
2025-03-11 00:00:00+01:00,130.600006,131.399994,129.800003,130.199997,15725,0.0,0.0

In [109]:
yf.Ticker(symbols[0]).cashflow

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Free Cash Flow,239000000.0,424000000.0,327100000.0,803600000.0,NaN
Repurchase Of Capital Stock,-21000000.0,0.0,-75100000.0,0.0,NaN
Repayment Of Debt,-189000000.0,-126000000.0,-708400000.0,-725000000.0,NaN
Issuance Of Debt,1121000000.0,0.0,763500000.0,0.0,NaN
Capital Expenditure,-406000000.0,-254000000.0,-183400000.0,-148400000.0,NaN
End Cash Position,131000000.0,37000000.0,28200000.0,40700000.0,NaN
Beginning Cash Position,37000000.0,28000000.0,40700000.0,106600000.0,NaN
Effect Of Exchange Rate Changes,4000000.0,0.0,NaN,NaN,NaN
Changes In Cash,90000000.0,9000000.0,-12500000.0,-65900000.0,NaN
Financing Cash Flow,466000000.0,-413000000.0,-291400000.0,-840000000.0,NaN
Net Other Financing Charges,4000000.0,1000000.0,NaN,93700000.0,NaN
Interest Paid Cff,-84000000.0,-40000000.0,-27100000.0,-39900000.0,NaN
Cash Dividends Paid,-76000000.0,-76000000.0,-76600000.0,NaN,-114600000.0
Common Stock Dividend Paid,-76000000.0,-76000000.0,-76600000.0,0.0,NaN
Net Common Stock Issuance,-21000000.0,0.0,-75100000.0,0.0,NaN
Common Stock Payments,-21000000.0,0.0,-75100000.0,0.0,NaN
Net Issuance Payments Of Debt,932000000.0,-126000000.0,55100000.0,-725000000.0,NaN
Net Long Term Debt Issuance,932000000.0,-126000000.0,55100000.0,-725000000.0,NaN
Long Term Debt Payments,-189000000.0,-126000000.0,-708400000.0,-725000000.0,NaN
Long Term Debt Issuance,1121000000.0,0.0,763500000.0,0.0,NaN
Investing Cash Flow,-1021000000.0,-256000000.0,-231600000.0,-177900000.0,NaN
Net Investment Purchase And Sale,NaN,NaN,0.0,-5500000.0,-5400000.0
Purchase Of Investment,NaN,NaN,0.0,-5500000.0,-5400000.0
Net Business Purchase And Sale,-615000000.0,-2000000.0,-48200000.0,-24000000.0,NaN
Sale Of Business,2000000.0,0.0,400000.0,0.0,NaN
Purchase Of Business,-617000000.0,-2000000.0,-48600000.0,-24000000.0,NaN
Net Intangibles Purchase And Sale,-155000000.0,-162000000.0,-132900000.0,-97900000.0,NaN
Purchase Of Intangibles,-155000000.0,-162000000.0,-132900000.0,-97900000.0,NaN
Net PPE Purchase And Sale,-251000000.0,-92000000.0,-50500000.0,-50500000.0,NaN
Purchase Of PPE,-251000000.0,-92000000.0,-50500000.0,-50500000.0,NaN
Operating Cash Flow,645000000.0,678000000.0,510500000.0,952000000.0,NaN
Taxes Refund Paid,-83000000.0,-64000000.0,-109200000.0,-84000000.0,NaN
Interest Received Cfo,NaN,500000.0,5200000.0,17400000.0,100000.0
Change In Working Capital,-187000000.0,-70000000.0,-181600000.0,225400000.0,NaN
Change In Other Current Assets,NaN,NaN,NaN,NaN,19200000.0
Change In Payable,178000000.0,-8000000.0,-150500000.0,116200000.0,NaN
Change In Prepaid Assets,-31000000.0,-43000000.0,-7700000.0,13400000.0,NaN
Change In Inventory,-334000000.0,-19000000.0,-23400000.0,95800000.0,NaN
Other Non Cash Items,146000000.0,53000000.0,19100000.0,32900000.0,NaN
Depreciation And Amortization,525000000.0,375000000.0,421300000.0,407600000.0,NaN
Amortization Cash Flow,169000000.0,123000000.0,421300000.0,407600000.0,NaN
Depreciation,356000000.0,252000000.0,421300000.0,407600000.0,NaN
Net Foreign Currency Exchange Gain Loss,-3000000.0,0.0,NaN,NaN,NaN
Gain Loss On Sale Of PPE,0.0,6000000.0,NaN,NaN,NaN
Net Income From Continuing Operations,248000000.0,373000000.0,351100000.0,353400000.0,NaN

In [110]:
yf.Ticker(symbols[0]).balancesheet

,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
Treasury Shares Number,382981.0,358423.0,626585.0,22943.0,NaN
Ordinary Shares Number,37908511.0,37933069.0,37664907.0,38268549.0,NaN
Share Issued,38291492.0,38291492.0,38291492.0,38291492.0,NaN
Net Debt,1931000000.0,991000000.0,1125800000.0,1057600000.0,NaN
Total Debt,3272000000.0,1679000000.0,1677000000.0,1767900000.0,NaN
...,...,...,...,...,...
Accounts Receivable,76000000.0,44000000.0,26600000.0,15200000.0,NaN
Allowance For Doubtful Accounts Receivable,0.0,-1000000.0,NaN,NaN,NaN
Gross Accounts Receivable,76000000.0,45000000.0,NaN,NaN,NaN
Cash Cash Equivalents And Short Term Investments,131000000.0,37000000.0,28200000.0,40700000.0,NaN
Cash And Cash Equivalents,131000000.0,37000000.0,28200000.0,40700000.0,NaN

In [117]:
symbols = ['AAPL']

In [118]:
df = pd.DataFrame()
for symbol in symbols:
    print(f'{symbol}...')

    ticker = yf.Ticker(symbol)

    earning_dates = ticker.cashflow.columns.tolist()

    quant_data = ticker.history(period='10y')

    cashflow = ticker.cashflow
    cashflow_columns = cashflow[earning_dates[0]].keys().tolist()

    balancesheet = ticker.balancesheet
    balancesheet_columns = balancesheet[earning_dates[0]].keys().tolist()

    for earning_date in earning_dates:
        row_data = {'Ticker': symbol, 'Date': earning_date}
        


        for column in cashflow_columns:
            row_data[column] = cashflow[earning_date][column]

        for column in balancesheet_columns:
            row_data[column] = balancesheet[earning_date][column]
        
        df = pd.concat([df, pd.DataFrame([row_data])], ignore_index=True)
        
df.to_csv(result_folder / 'earnings_data.csv', index=False)

AAPL...