In [73]:
! pip install -q yfinance

In [64]:
import yfinance

In [58]:
tickers = ['MSFT', 'AAPL']
symbols = [yfinance.Ticker(ticker) for ticker in tickers]

['MSFT', 'AAPL']
[yfinance.Ticker object <MSFT>, yfinance.Ticker object <AAPL>]

In [60]:
for symbol in symbols:
    print('ANALYTICS:')
    print(symbol.analyst_price_targets)
    print('PRICE HISTORY:')
    print(symbol.history(period='1y'))

ANALYTICS:
{'current': 421.5, 'low': 420.0, 'high': 650.0, 'mean': 508.5454, 'median': 500.0}
PRICE HISTORY:
                                 Open        High         Low       Close  \
Date
2024-01-02 00:00:00-05:00  371.827833  373.856753  364.776375  368.854095
2024-01-03 00:00:00-05:00  367.004218  371.231116  366.506935  368.585571
2024-01-04 00:00:00-05:00  368.655174  371.071958  365.174199  365.940002
2024-01-05 00:00:00-05:00  366.964407  370.037607  364.507832  365.751038
2024-01-08 00:00:00-05:00  367.292634  373.160588  367.004232  372.653351
...                               ...         ...         ...         ...
2024-12-24 00:00:00-05:00  434.649994  439.600006  434.190002  439.329987
2024-12-26 00:00:00-05:00  439.079987  440.940002  436.630005  438.109985
2024-12-27 00:00:00-05:00  434.600006  435.220001  426.350006  430.529999
2024-12-30 00:00:00-05:00  426.059998  427.549988  421.899994  424.829987
2024-12-31 00:00:00-05:00  426.100006  426.730011  420.660004  421.500000

                             Volume  Dividends  Stock Splits
Date
2024-01-02 00:00:00-05:00  25258600        0.0           0.0
2024-01-03 00:00:00-05:00  23083500        0.0           0.0
2024-01-04 00:00:00-05:00  20901500        0.0           0.0
2024-01-05 00:00:00-05:00  20987000        0.0           0.0
2024-01-08 00:00:00-05:00  23134000        0.0           0.0
...                             ...        ...           ...
2024-12-24 00:00:00-05:00   7164500        0.0           0.0
2024-12-26 00:00:00-05:00   8194200        0.0           0.0
2024-12-27 00:00:00-05:00  18117700        0.0           0.0
2024-12-30 00:00:00-05:00  13158700        0.0           0.0
2024-12-31 00:00:00-05:00  13235200        0.0           0.0

[252 rows x 7 columns]
ANALYTICS:
{'current': 250.42, 'low': 184.0, 'high': 325.0, 'mean': 246.85358, 'median': 250.0}
PRICE HISTORY:
                                 Open        High         Low       Close  \
Date
2024-01-02 00:00:00-05:00  186.237603  187.521323  182.993502  184.734970
2024-01-03 00:00:00-05:00  183.321893  184.973804  182.535736  183.351746
2024-01-04 00:00:00-05:00  181.261998  182.197418  179.998201  181.023178
2024-01-05 00:00:00-05:00  181.102771  181.869006  179.291637  180.296707
2024-01-08 00:00:00-05:00  181.202281  184.695178  180.615161  184.655365
...                               ...         ...         ...         ...
2024-12-24 00:00:00-05:00  255.490005  258.209991  255.289993  258.200012
2024-12-26 00:00:00-05:00  258.190002  260.100006  257.630005  259.019989
2024-12-27 00:00:00-05:00  257.829987  258.700012  253.059998  255.589996
2024-12-30 00:00:00-05:00  252.229996  253.500000  250.750000  252.199997
2024-12-31 00:00:00-05:00  252.440002  253.279999  249.429993  250.419998

                             Volume  Dividends  Stock Splits
Date
2024-01-02 00:00:00-05:00  82488700        0.0           0.0
2024-01-03 00:00:00-05:00  58414500        0.0           0.0
2024-01-04 00:00:00-05:00  71983600        0.0           0.0
2024-01-05 00:00:00-05:00  62303300        0.0           0.0
2024-01-08 00:00:00-05:00  59144500        0.0           0.0
...                             ...        ...           ...
2024-12-24 00:00:00-05:00  23234700        0.0           0.0
2024-12-26 00:00:00-05:00  27237100        0.0           0.0
2024-12-27 00:00:00-05:00  42355300        0.0           0.0
2024-12-30 00:00:00-05:00  35557500        0.0           0.0
2024-12-31 00:00:00-05:00  39468700        0.0           0.0

[252 rows x 7 columns]

In [81]:
data = yfinance.download(tickers, period='1mo')
data

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-12-02  239.589996  430.980011  240.789993  433.000000  237.160004
2024-12-03  242.649994  431.200012  242.759995  432.470001  238.899994
2024-12-04  243.009995  437.420013  244.110001  439.670013  241.250000
2024-12-05  243.039993  442.619995  244.539993  444.660004  242.130005
2024-12-06  242.839996  443.570007  244.630005  446.100006  242.080002
2024-12-09  246.750000  446.019989  247.240005  448.329987  241.750000
2024-12-10  247.770004  443.329987  248.210007  449.619995  245.339996
2024-12-11  246.490005  448.989990  250.800003  450.350006  246.259995
2024-12-12  247.960007  449.559998  248.740005  456.160004  245.679993
2024-12-13  248.130005  447.269989  249.289993  451.429993  246.240005
2024-12-16  251.039993  451.589996  251.380005  452.179993  247.649994
2024-12-17  253.479996  454.459991  253.830002  455.290009  249.779999
2024-12-18  248.050003  437.390015  254.279999  452.649994  247.740005
2024-12-19  249.789993  437.029999  252.000000  443.179993  247.089996
2024-12-20  254.490005  436.600006  255.000000  443.739990  245.690002
2024-12-23  255.270004  435.250000  255.649994  437.649994  253.449997
2024-12-24  258.200012  439.329987  258.209991  439.600006  255.289993
2024-12-26  259.019989  438.109985  260.100006  440.940002  257.630005
2024-12-27  255.589996  430.529999  258.700012  435.220001  253.059998
2024-12-30  252.199997  424.829987  253.500000  427.549988  250.750000
2024-12-31  250.419998  421.500000  253.279999  426.730011  249.429993

Price                         Open                 Volume
Ticker            MSFT        AAPL        MSFT       AAPL      MSFT
Date
2024-12-02  421.309998  237.270004  421.570007   48137100  20207200
2024-12-03  427.739990  239.809998  429.839996   38861000  18302000
2024-12-04  432.630005  242.869995  433.029999   44383900  26009400
2024-12-05  436.170013  243.990005  437.920013   40033900  21697800
2024-12-06  441.769989  242.910004  442.299988   36870600  18821000
2024-12-09  440.500000  241.830002  442.600006   44649200  19144400
2024-12-10  441.600006  246.889999  444.390015   36914800  18469500
2024-12-11  444.049988  247.960007  444.049988   45205800  19200200
2024-12-12  449.109985  246.889999  449.109985   32777500  20834800
2024-12-13  445.579987  247.820007  448.440002   33155300  20177800
2024-12-16  445.279999  247.990005  447.269989   51694800  23598800
2024-12-17  449.570007  250.080002  451.010010   51356400  22733500
2024-12-18  437.019989  252.160004  451.320007   56774100  24444500
2024-12-19  436.320007  247.500000  441.619995   60882300  22963700
2024-12-20  428.630005  248.039993  433.109985  147495300  64263700
2024-12-23  432.829987  254.770004  436.739990   40858800  19152500
2024-12-24  434.190002  255.490005  434.649994   23234700   7164500
2024-12-26  436.630005  258.190002  439.079987   27237100   8194200
2024-12-27  426.350006  257.829987  434.600006   42355300  18117700
2024-12-30  421.899994  252.229996  426.059998   35557500  13158700
2024-12-31  420.660004  252.440002  426.100006   39468700  13235200

In [80]:
import csv
with open('test.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(data)