## Tabular training

In [51]:
# Install libraries on first run
#! pip install -q ipynb fastai pathlib pandas

To illustrate the tabular application, we will use the example of the Adult dataset where we have to predict if a person is earning more or less than $50k per year using some general data.

In [52]:
from fastai.tabular.all import *
from pathlib import Path
import pandas as pd

## Variables

In [53]:
yNames = ['Future Year Change']
catNames = []
contNames = [
    'Open',
    'High', 
    'Low', 
    'Close', 
    'Volume', 
    'Dividends', 
    'Stock Splits', 
    'EV/EBIT', 
    'Market Cap', 
    'ROIC'
]

We can download a sample of this dataset with the usual untar_data command:

In [54]:
dataPath = Path()
dataPath.ls()

(#4) [Path('data.csv'),Path('screener.ipynb'),Path('tabular.ipynb'),Path('Tutorial')]

Then we can have a look at how the data is structured:

In [55]:
df = pd.read_csv(dataPath/'data.csv')
df.head()

,Date,Ticker,Open,High,Low,Close,Volume,Dividends,Stock Splits,Future Year Change,EV/EBIT,Market Cap,ROIC
0,2022-01-18 00:00:00-05:00,AAPL,168.745802,169.759200,166.679656,167.063370,90956700,0.0,0.0,-0.198733,43.750052,2.512282e+12,0.018057
1,2022-01-19 00:00:00-05:00,AAPL,167.260163,168.322759,163.265599,163.550919,94815000,0.0,0.0,-0.165793,42.849538,2.459462e+12,0.018437
2,2022-01-20 00:00:00-05:00,AAPL,164.288836,166.945318,161.533959,161.858643,91420500,0.0,0.0,-0.137262,42.415676,2.434014e+12,0.018625
3,2022-01-21 00:00:00-05:00,AAPL,161.770080,163.649301,159.684253,159.792480,122848900,0.0,0.0,-0.117313,41.885958,2.402943e+12,0.018861
4,2022-01-24 00:00:00-05:00,AAPL,157.440994,159.684246,152.206728,159.015198,162294600,0.0,0.0,-0.117168,41.686680,2.391255e+12,0.018951

Some of the columns are continuous (like age) and we will treat them as float numbers we can feed our model directly. Others are categorical (like workclass or education) and we will convert them to a unique index that we will feed to embedding layers. We can specify our categorical and continuous column names, as well as the name of the dependent variable in TabularDataLoaders factory methods:

In [56]:
dls = TabularDataLoaders.from_csv(dataPath/'data.csv', path=dataPath, 
    y_names=yNames,
    cat_names=catNames,
    cont_names=contNames,
    procs = [Categorify, FillMissing, Normalize])

The last part is the list of pre-processors we apply to our data:

* Categorify is going to take every categorical variable and make a map from integer to unique categories, then replace the values by the corresponding index.
* FillMissing will fill the missing values in the continuous variables by the median of existing values (you can choose a specific value if you prefer)
* Normalize will normalize the continuous variables (subtract the mean and divide by the std)

To further expose what’s going on below the surface, let’s rewrite this utilizing fastai’s TabularPandas class. We will need to make one adjustment, which is defining how we want to split our data. By default the factory method above used a random 80/20 split, so we will do the same:

In [57]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [58]:
to = TabularPandas(df, procs=[Categorify, FillMissing,Normalize],
    y_names=yNames,
    cat_names = catNames,
    cont_names = contNames,
    splits=splits)

Once we build our TabularPandas object, our data is completely preprocessed as seen below:

In [59]:
to.xs.iloc[:2]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EV/EBIT,Market Cap,ROIC
18975,-0.330337,-0.324837,-0.325518,-0.321193,-0.292187,-0.051811,-0.011015,-1.101432,-0.485984,1.316726
11177,-0.388882,-0.392510,-0.397711,-0.397322,0.537752,-0.051811,-0.011015,0.195993,-0.278744,-0.537509

Now we can build our DataLoaders again:

In [60]:
dls = to.dataloaders(bs=64)

The show_batch method works like for every other application:

In [61]:
dls.show_batch()

We can define a model using the tabular_learner method. When we define our model, fastai will try to infer the loss function based on our y_names earlier.

Note: Sometimes with tabular data, your y’s may be encoded (such as 0 and 1). In such a case you should explicitly pass y_block = CategoryBlock in your constructor so fastai won’t presume you are doing regression.

In [62]:
learn = tabular_learner(dls, metrics=[rmse, mae])

And we can train that model with the fit_one_cycle method (the fine_tune method won’t be useful here since we don’t have a pretrained model).

In [63]:
learn.fit_one_cycle(50)

We can then have a look at some predictions:

In [64]:
learn.show_results()


To get prediction on a new dataframe, you can use the test_dl method of the DataLoaders. That dataframe does not need to have the dependent variable in its column.

In [72]:
predictionTarget = 'NATH'

from ipynb.fs.fullscreener import getTickerData

test_df = getTickerData(predictionTarget)

# Ensure test_df is a DataFrame
if isinstance(test_df, dict):
	test_df = pd.DataFrame([test_df])

dl = learn.dls.test_dl(test_df)

Static Data for NATH:
  Total Debt: 65578000
  Cash: 31207000
  Shares Outstanding: 4084620
Approximated EBIT for NATH: 21563548.8

Then Learner.get_preds will give you the predictions:

In [73]:
learn.get_preds(dl=dl)

(tensor([[0.1325]]), None)

Note:
Since machine learning models can’t magically understand categories it was never trained on, the data should reflect this. If there are different missing values in your test data you should address this before training